<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>sunrise clock</title>

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="author" content="Fabian Hauser, Michael Wieland">

		<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>

		<link href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<form id="time-form">
			<label for="monday">Monday</label>
			<input type="checkbox" name="weekday" id="monday" checked />

			<label for="tuesday">Tuesday</label>
			<input type="checkbox" name="weekday" id="tuesday" checked />

			<label for="wednesday">Wednesday</label>
			<input type="checkbox" name="weekday" id="wednesday" checked />

			<label for="thursday">Thursday</label>
			<input type="checkbox" name="weekday" id="thursday" checked />

			<label for="friday">Friday</label>
			<input type="checkbox" name="weekday" id="friday" checked />

			<label for="saturday">Saturday</label>
			<input type="checkbox" name="weekday" id="saturday" />

			<label for="sunday">Sunday</label>
			<input type="checkbox" name="weekday" id="sunday" />

			<label for="time">Time</label>
			<input type="time" name="time" id="time" autofocus />

			<label for="light-duration">Light Duration</label>
			<input type="time" name="light-intervall" id="light-intervall" autofocus />
		<form>

		<script src="bower-components/requirejs/require.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
