<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>sunrise clock</title>

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="author" content="Fabian Hauser, Michael Wieland">

		<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>

		<link href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<header>
			<h1>Sunrise Clock</h1>
		</header>
		<main>
			<form id="time-form">

				<!--configurations -->
				<label for="configurations">
					<span>Configurations</span>
					<select id="configurations"></select>
				</label>

				<!--alarms -->
				<div id="alarms"></div>

				<!-- store configurations -->
				<button type="submit">Save Configuration</button>

			<form>
		</main>
		<footer>
			<small>Fabian Hauser und Michael Wieland</small>
		</footer>

		<!--scripts -->
		<script src="bower-components/jquery/dist/jquery.min.js"></script>
		<script src="bower-components/handlebars/handlebars.min.js"></script>
		<script src="bower-components/requirejs/require.js"></script>

		<!--templates -->
		<script src="templates/alarm.handlebars" type="text/x-handlebars-template"></script>
		<script src="templates/configurations.handlebars" type="text/x-handlebars-template"></script>

		<script src="js/handlebars-helper.js"></script>
		<script src="js/script.js"></script>

	</body>
</html>
