<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">

		<title>sunrise clock</title>

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="author" content="Fabian Hauser, Michael Wieland">

		<link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>

		<link href="css/style.css" rel="stylesheet" />
	</head>
	<body>
		<form id="time-form">
			<label for="configurations">
				<span>Configurations</span>
				<select id="configurations"></select>
			</label>

			<label for="monday">
				<span>Monday</span>
				<input type="checkbox" name="weekday" id="monday" checked />
			</label>

			<label for="tuesday">
				<span>Tuesday</span>
				<input type="checkbox" name="weekday" id="tuesday" checked />
			</label>

			<label for="wednesday">
				<span>Wednesday</span>
			<input type="checkbox" name="weekday" id="wednesday" checked />
			</label>

			<label for="thursday">
				<span>Thursday</span>
				<input type="checkbox" name="weekday" id="thursday" checked />
			</label>

			<label for="friday">
				<span>Friday</span>
				<input type="checkbox" name="weekday" id="friday" checked />
			</label>

			<label for="saturday">
				<span>Saturday</span>
				<input type="checkbox" name="weekday" id="saturday" />
			</label>

			<label for="sunday">
				<span>Sunday</span>
				<input type="checkbox" name="weekday" id="sunday" />
			</label>

			<label for="time">Time</label>
			<input type="time" name="time" id="time" placeholder="HH:MM" autofocus/>

			<label for="light-duration">Light Duration</label>
			<input type="time" name="light-intervall" placeholder="MM" id="light-intervall" />
		<form>

		<script src="bower-components/requirejs/require.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
