*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Sans-Serif;
	font-size: 1rem;
	background: #3D4350;
	color: #E3E7EB;
	padding: 1rem;
}

main,
button,
input {
	border-radius: 0.3rem;
	border: none;
}

main {
	background: #242830;
	max-width: 20rem;
	margin: 0 auto;
	padding: 0.5rem 1rem;
}

header, footer {
	padding: 0.5rem;
	text-align: center;
}

label {
	display: block;
	margin: 0.5rem 0;
}

input {
	padding: 0.5rem;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

label > span {
	width: 8rem;
	display: inline-block;
}

button {
	display: block;
	cursor: pointer;
	margin: 1rem 0;
	padding: 0.4rem;
	background: #FE3D6C;
	input: 1rem;
  transition: background-color 500ms linear;
}

.success {
	background: #27ae60;
}
