[Unit]
Description=sunrise-clock: A nice alarm clock

[Service]
WorkingDirectory=/opt/sunrise-clock/app/
ExecStart=/usr/bin/node /opt/sunrise-clock/app/sunrise-clock
Restart=always
           
[Install]
WantedBy=default.target
