[Unit]
Description=sunlight-alarm: A nice alarm clock

[Service]
WorkingDirectory=/opt/sunlight-alarm/app/
ExecStart=/usr/bin/node /opt/sunlight-alarm/app/sunlight-alarm
Restart=always
           
[Install]
WantedBy=default.target
